.hidden {
    visibility: hidden;
}
.visible {
    visibility: visible;
}
.d-none {
    display: none;
}
.d-block {
    display: block;
}
.d-flex {
    display: flex;

    &_center {
        justify-content: center;
        align-items: center;
    }
    &_space-around {
        justify-content: space-around;
    }
    &_space-between {
        justify-content: space-between;
    }
}